In [1]:
import csv
import pandas as pd
import os

In [2]:
movies_path= os.path.join("data","ml-latest", "movies.csv")
movies_df= pd.read_csv(movies_path)
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
links_path= os.path.join("data","ml-latest", "links.csv")
links_df= pd.read_csv(links_path)
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [4]:
merged_df= pd.merge(movies_df, links_df,how="outer", on="movieId" )
merged_df

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0
9739,193585,Flint (2017),Drama,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0

In [5]:
ratings_path= os.path.join("data","ml-latest", "ratings.csv")
ratings_df= pd.read_csv(ratings_path)
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
merged_df= pd.merge(merged_df, ratings_df,how="outer", on="movieId" )
merged_df

,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,6397426,479308.0,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0,331.0,4.0,1.537158e+09

In [7]:
genomescores_path= os.path.join("data","ml-latest", "genome-scores.csv")
scores_df= pd.read_csv(genomescores_path)
scores_df

         movieId  tagId  relevance
0              1      1    0.02900
1              1      2    0.02375
2              1      3    0.05425
3              1      4    0.06875
4              1      5    0.16000
...          ...    ...        ...
1048570     1024    659    0.01800
1048571     1024    660    0.09200
1048572     1024    661    0.03400
1048573     1024    662    0.03100
1048574     1024    663    0.05875

[1048575 rows x 3 columns]

In [8]:
merged_df= pd.merge(merged_df, scores_df,how="outer", on="movieId" )
merged_df

,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp,tagId,relevance
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,1.0,4.0,964982703.0,1.0,0.02900
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,1.0,4.0,964982703.0,2.0,0.02375
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,1.0,4.0,964982703.0,3.0,0.05425
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,1.0,4.0,964982703.0,4.0,0.06875
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709.0,862.0,1.0,4.0,964982703.0,5.0,0.16000
...,...,...,...,...,...,...,...,...,...,...
24984624,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1124.0,0.01325
24984625,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1125.0,0.04350
24984626,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1126.0,0.01075
24984627,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1127.0,0.11575
24984628,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1128.0,0.02600

In [9]:
merged_df.to_csv('newcleandata.csv')

PermissionError: [Errno 13] Permission denied